numpy>=1.24,<2.0
protobuf>=3.20.3,<5
numba>=0.57,<0.62

scipy
pandas
pyarrow
joblib
soundfile
audioread
librosa
opensmile
datasets
huggingface_hub
transformers
webdataset
torch
torchaudio
scikit-learn
tqdm
pyyaml
sentencepiece
xgboost
